{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="max-w-4xl mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
        <h1 class="text-2xl font-bold mb-4">Client Details</h1>

        <div class="overflow-x-auto">
            <table class="w-full border-collapse border border-gray-200 shadow-md">
                <tbody>
                    <tr class="bg-gray-100">
                        <th class="border border-gray-300 px-4 py-2 text-left">Id</th>
                        <td class="border border-gray-300 px-4 py-2">{{ client.id }}</td>
                    </tr>
                    <tr>
                        <th class="border border-gray-300 px-4 py-2 text-left">Firstname</th>
                        <td class="border border-gray-300 px-4 py-2">{{ client.firstname }}</td>
                    </tr>
                    <tr class="bg-gray-100">
                        <th class="border border-gray-300 px-4 py-2 text-left">Lastname</th>
                        <td class="border border-gray-300 px-4 py-2">{{ client.lastname }}</td>
                    </tr>
                    <tr>
                        <th class="border border-gray-300 px-4 py-2 text-left">Email</th>
                        <td class="border border-gray-300 px-4 py-2">{{ client.email }}</td>
                    </tr>
                    <tr class="bg-gray-100">
                        <th class="border border-gray-300 px-4 py-2 text-left">Phone Number</th>
                        <td class="border border-gray-300 px-4 py-2">{{ client.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <th class="border border-gray-300 px-4 py-2 text-left">Address</th>
                        <td class="border border-gray-300 px-4 py-2">{{ client.address }}</td>
                    </tr>
                    <tr class="bg-gray-100">
                        <th class="border border-gray-300 px-4 py-2 text-left">Created At</th>
                        <td class="border border-gray-300 px-4 py-2">
                            {{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-6 flex space-x-4">
            <a href="{{ path('app_client_index') }}" class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600">
                Back to List
            </a>
            <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                Edit
            </a>
        </div>

        <div class="mt-4">
            {{ include('client/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
