{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <table>
        <tr>
            <th>Email</th>
            <th>Rôle</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.roles|join(', ') }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>
                {% if is_granted('edit', user) %}
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                {% endif %}
                <form method="post" action="{{ path('user_delete', {'id': user.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                    {% if is_granted('delete', user) %}
                        <button type="submit">Supprimer</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ path('user_new') }}">Ajouter un utilisateur</a>
{% endblock %}
